@import './base.css';

:root{
    --base-font : 'Syne', sans-serif;
    --gradient : linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(173,62,255,1) 100%);
    --sub-gradient : linear-gradient(0deg, rgba(0,212,255,1) 0%, rgba(173,62,255,1) 100%);
}

body::-webkit-scrollbar {
    width: .6rem;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #fff;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background: var(--sub-gradient);    /* color of the scroll thumb */
    border-radius: 1.5rem;       /* roundness of the scroll thumb */
    border: 3px solid #fff;  /* creates padding around scroll thumb */
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 100%;
    scroll-behavior: smooth;
}
body{
    background: #fff;
    font-family: var(--base-font);
    font-size: 1rem;
    line-height: 1.5;
}

header{
    padding-block: 2rem;
}

a{
    text-decoration: none;
    color: #000;
}

.container{
    max-width: 1401px;
    margin: 0 auto;
}

h1{
    font-size: 5rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2{
    font-size: 3.125rem;
    font-weight: 600;
    margin: 0 0 2rem 0;
    padding: 0;
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1;
}

.button{
    background: var(--gradient);
    border: none;
    color: #000;
    font-weight: 500;
    padding: .8rem 1.2rem;
    position: relative;
}

.button:before{
    content: "";
    display: block;
    position: absolute;
    inset: 1px;
    background: #fff;
    transition: inset .15s ease;
}

.button:hover::before{
    inset: 3px;
}

.button > span {
    position: relative;
    z-index: 1;
}
.pre-title {
    margin: 0;
}

.pre-title__text{
    font-size: .875rem;
    text-transform: uppercase;
    color: #979797;
}

.grid{
    display: grid;
}

.grid-rows-2{
    grid-template-rows: repeat(2, minmax(0, 1fr));
}

.grid-cols-3{
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.flex{
    display: flex;
}

.align-items-center{
    align-items: center;
}